*{
    font-family: "Rimouski";
}

body{
    background-color: #293251;
}

.container{
    width: 80%;
    height: 87vh;    
    background-color: #FFF;
    position: relative;
    top: 5vh;   
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    position: relative;
    left: 3%;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 40px;
    margin: 0 auto;
    font-size: 10em;
    color: #293251;
}

.notification{
    background-color: #f8d7da;
    display: none;
    position: relative;
    top: 90px;
}

.notification p{
    color: #721c24;
    font-size: 4.2em;
    margin: 70px;
    text-align: center;
    padding: 30px;
}

.weather-container{
    width: 300px;
    height: 260px;
    background-color: #F4F9FF;
}

.weather-icon{
    width: 300px;
    height: 128px;
    position: relative;
    left: 30%;
    top: 5vh;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 80px;
}

.temperature-value{
    width: 300px;
    height:60px;
    position: relative;
    left: 30%;
    top: 15%;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 9em;
    text-align: center;
    cursor: pointer;
}


.temperature-value span{
    color: #293251;
    font-size: 0.8em;
}



.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 5.7em;
    position: relative;
    top: 360px;
}



.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 4em;
    position: relative;
    top: 370px;
}



